<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<div class = "ttcombatsign"><a href = "http://www.ttcombat.com"target = "_blank"><img class ="ttcombatimg" src="../../assets/images/TTCombatWhite.png"></a></div>


<!-- Add font icons -->
<a href="https://www.facebook.com/Tabletopcombat/" target = "_blank" class="fa fa-facebook"></a>&nbsp;
<a href="https://twitter.com/TTCombat" target = "_blank" class="fa fa-twitter"></a>&nbsp;
<a href="https://www.instagram.com/ttcombatuk/" target = "_blank" class="fa fa-instagram"></a>&nbsp;
<a href="https://www.youtube.com/user/TableTopCombat" target = "_blank" class ="fa fa-youtube"></a>&nbsp;
<a href="http://www.ttcombat.com" target = "_blank" class="fa fa-ttcombat"><img class = "ttcombatdice" src = "../../assets/images/TTCombatDice.png"></a>&nbsp;
</body>

