  <body>
    <img class = 'fullimagestrip' src = '../../assets/Images/factionimages/shaltari/Shaltari spaceship bridge illustration Final.jpg'>
      <div class = "title">
          Shaltari Tribes
        </div>
    <div class = 'introtext'>
      The Shaltari are a race of aliens that were originally frinedly to humanity and in fact led them to the Cradle Worlds in the early days of humanitys exploration of the stars. 
      However it soon came to pass the Shaltari were simply using humanity to fight wars amongst their own tribes. The Shaltari are an ancient race with exceptioanlly powerful but aliens technology. 
      The Scourge opened communications for the first time with humanity recently simply to state that it was the Shaltari who lead the Scourge to earth. Once The Battle For Earth is won, 
      no doubt the UCM will turn their attention to the Shaltari.
      <br>

      <img class = 'centralimagebox' src = '../../assets/Images/factionimages/shaltari/First borns colour WIP.jpg'>
    </div>

   

    <div class = 'textbox'>
      <img class = 'rightimagebox' src = '../../assets/Images/factionimages/shaltari/Shaltari Avatar final.jpg'>
      <img class = 'leftimagebox' src = '../../assets/Images/factionimages/shaltari/Shaltari Ronin Avatar 2.jpg'>

      <p>The Shaltari are an ancient, highly developed species. Their technology is advanced to a level of sophistication rivalled only by its potency.
         They have traversed the stars for millennia, learned myriad truths, and fought countless wars. Through knowledge, the Shaltari transcend even death itself,
          perceiving the ebb and flow of time like no other race.</p>

          <p>In battle, the Shaltari are fearsome adversaries. Their swiftness is unmatched, their firepower unequalled, their bravery undeniable. The beauty of their 
            constructs belies their true nature; instruments of death, honed to lethal perfection long before humanity learned to throw stones. They are peerless masters of 
            technology.  </p>


    </div>


    <div class = 'armypanel'>
      <div class = 'subtitle'>Example Army</div>
      <p>Here is an example of a Shaltari army for a 1750 point game. <!--For this one we've taken units from the Shaltari starter army, the Warcheif and Guard Boxset and the Walker Fire Support Boxset. -->
        This list comes to 1750 points but doesn't have a Commander so has a standard CV0 commander in the Puma. This army can be found here:  <a href = 'https://thetrolltrader.com/dzcbuilderbeta/builder/3/CWuepE3frLvP6aYit9fDJmjRVTLDQ52u' target = 'blank'> Army List</a>
     The Army code being: CWuepE3frLvP6aYit9fDJmjRVTLDQ52u</p>
    
      <div class = 'battlegrouplist'>
        <p>HQ Group</p>
        <p>1 X Puma</p>
        <p>1 X Coyote</p>        
        <p>2 X Eden</p>
      </div>  
    
      <div class = 'battlegrouplist'>
        <p>Armour Group 1</p>
        <p>3 X Tomahawk</p>
        <p>3 X Kukri</p>
        <p>2 X Tarantula Battle Strider</p>
        <p>1 X Gaia</p>             
      </div>  
    
      <div class = 'battlegrouplist'>
        <p>Frontline Group 1</p>
        <p>2 X Braves</p>
        <p>2 X Braves</p>
        <p>3 X Kukri</p>
        <p>2 X Haven</p>
        <p>1 X Gaia</p>        
      </div>
      
      <div class = 'battlegrouplist'>
        <p>Armour Group 2</p>
        <p>3 X Tomahawk</p>
        <p>2 X Firebird</p> 
        <p>1 X Panther</p>
        <p>2 X Eden</p>          
      </div>  
    
      <div class = 'battlegrouplist'>
        <p>Frontline Group 2</p>
        <p>2 X Braves</p>
        <p>2 X Braves</p>        
        <p>2 X Haven</p>
        <p>2 X Eden</p>          
      </div>
      <p> Though we've included the transports with each battlegroup here, normally they are part of the Auxillery battlegroup so a transport can be used to transport another groups units 
        if required as the battle goes on.
      </p>
    </div>


  
  
  <div class = 'unitpics'>
  <app-unitphotos [faction]="faction"></app-unitphotos>
</div>
  </body>