.title{
    color: #e85710;
    background-color: rgba(255, 255, 255, 0.900);
    height: 80px;
    padding: 10px;
    padding-top: 20px;
}

.subtitle{
    color: #e85710;    
    height: 80px;
    padding: 10px;
    padding-top: 20px;
}