<button (click)="OpenUnitPrintout()">Print all {{faction.name}} Units</button>
<p class = "unitname">{{viewedUnit.Name}}</p>
<div class = "table">
<div><button (click) = "prevunit()">Previous Unit</button></div>
<div><img class  = "unitphotosmall" src = {{prevUnit.picture}} (click) = "prevunit()"></div>
<div><img class  = "unitphoto" src = {{viewedUnit.picture}}></div>
<div><img class  = "unitphotosmall" src = {{nextUnit.picture}} (click) = "nextunit()"></div>
<div><button (click) = "nextunit()">Next Unit</button></div>
</div>
<app-unitdatasheet [unit]="viewedUnit"></app-unitdatasheet>
<mat-slider thumbLabel  
tickInterval='1' 
min=1
max={{definedUnits.length}} 
step="1.0" 
value={{viewedUnitNumber}}
#amountSlider
(input)="pitch($event)" ></mat-slider>


