mat-slider{
    width: 250px;    
}
::ng-deep .mat-accent .mat-slider-thumb {
    background-color: black;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: black;
} 
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: red;
    
} 

.table{
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
}

.unitphoto{
    width: 250px;
    border-color: darkslategrey;
    border-style: double;
}

.unitphotosmall{
    width:150px;
    border-color: darkslategrey;
    border-style: double;
    margin-bottom: 50px;
    margin: 50px;
}

.unitname{
    font-family: 'VenusRisingRegular'
}

@media screen and (max-width: 1500px){
    .unitphoto{
        width: 200px;
        border-color: darkslategrey;
        border-style: double;
    }
    
    .unitphotosmall{
        display: none;       
    }

    .table{
        display: grid;
        grid-template-columns: 12.5% 0% 75% 0% 12.5%;
    }
}

@media screen and (max-width:1000px){

    .unitphoto{
        width: 100px;
        border-color: darkslategrey;
        border-style: double;
    }
    
    .unitphotosmall{
        display: none;       
    }

    button{
        font-size: xx-small;
    }
    .table{
        display: grid;
        grid-template-columns: 12.5% 0% 70% 0% 12.5%;
    }

}

