mat-slider{
    width: 250px;    
}
::ng-deep .mat-accent .mat-slider-thumb {
    background-color: black;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: black;
} 
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: red;
    
} 

.table{
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
}

.unitphoto{
    width: 250px;
    border-color: darkslategrey;
    border-style: double;
}

.unitphotosmall{
    width:150px;
    border-color: darkslategrey;
    border-style: double;
    margin-bottom: 50px;
    margin-top: 50px;
}

.unitname{
    font-family: 'VenusRisingRegular'
}

@media screen and (max-width:600px){

    .unitphoto{
        width: 80px;
        border-color: darkslategrey;
        border-style: double;
    }
    
    .unitphotosmall{
        width:50px;
        border-color: darkslategrey;
        border-style: double;        
    }

    button{
        font-size: xx-small;
    }

}

