.factionselectbar{
    background-color: black;    
    text-align: center;
    height: 135px;
    padding: 10px;
}

.factionselectbar .faction :hover{
    background-color: rgb(77, 77, 77);
}

.factionselectbar .factionbutton{
    width: 19.7%;
    color: white;
    float: left;   
    margin-right: 1px; 
    margin-left: 1px; 
    font-size: large  
}


.factionselectbar .factionbutton p{
    color: white;
}

.factionselectbar .factionbutton .factionicon{
    height: 100px;
    padding: 5px;
}