.header{
    text-align: center;    
    width:100%;
    background-image: url("/src/assets/Images/gradient.jpg");    
    min-height: 310px;    
    background-color: black;
    
    
}

@keyframes titleanimation {
    0% {width: 0px;}    
    100% {width: 1000px;}
}

.headimg{
    animation-name: titleanimation;
    animation-duration: 2s;
    animation-timing-function: linear;
    width: 1000px;
    padding: 50px;
}



@media screen and (max-width:900px){  
    
    @keyframes titleanimation {
        0% {width: 0%;}    
        100% {width: 250px;}    
    }

    .headimg{
        width:250px;        
        animation-name: titleanimation;
        animation-duration: 2s;
        animation-timing-function: linear;
    }

    .header{
        text-align: center;    
        width:100%;
        background-image: url("/src/assets/Images/gradient.jpg");
        min-height: 140px;        
    }
}