<body>
  <div class = 'title'>Resources</div>

  <div class = 'introtext'>
    This is where you can find the official FAQ, Erratas and other resources needed to play Dropzone Commander.
    <br>
    <a href = "../../assets/resources/Desktop Dropzone Rulebook.pdf" target = "_blank"><button mat-button>Dropzone Commander Rulebook</button></a>
    <br>
    <a href = "../../assets/resources/Generic Fastplay Sheet A5.pdf" target = "_blank"><button mat-button>Generic Fastplay Sheet</button></a>
    <br>
    <a href = "../../assets/resources/UCM Fastplay Sheet A5.pdf" target = "_blank"><button mat-button>UCM Fastplay Sheet</button></a>
    <br>
    <a href = "../../assets/resources/UCM Starter Army.pdf" target = "_blank"><button mat-button>UCM Starter Army Building Instructions</button></a>
    <br>
    <a href = "../../assets/resources/Scourge Fastplay Sheet A5.pdf" target = "_blank"><button mat-button>Scourge Fastplay Sheet</button></a>
    <br>
    <a href = "../../assets/resources/Scourge Starter Army.pdf" target = "_blank"><button mat-button>Scourge Starter Army Building Instructions</button></a>
    <br>
    <a href = "../../assets/resources/Shaltari Fastplay Sheet A5.pdf" target = "_blank"><button mat-button>Shaltari Fastplay Sheet</button></a>
    <br>
    <a href = "../../assets/resources/Shaltari Starter Army.pdf" target = "_blank"><button mat-button>Shaltari Starter Army Building Instructions</button></a>
    <br>
  </div>
</body>