
<body>
  <img class = 'fullimagestrip' src = '../../assets/Images/factionimages/scourge/Scourge Screamer illustration final.jpg'>
    <div class = "title">
        Scourge
      </div>
<div class = 'introtext'>
  <p>The Scourge are a species of foul, neuroparastistic lifeforms that have driven humanity almost
  to the brink of extinction. They are defending their ill-gotten gains of the Cradle Worlds against 
  the USM's grand reconquest. They are far from beaten though, and have already launched a counter 
  attack on the frontier worlds now home to the UCM.</p>
  <br>

  <img class = "centralimagebox" src = '../../assets/Images/factionimages/scourge/Scourge Human Portrait with plein BG.jpg'>
</div>




<div class = 'textbox'>
<img class = 'leftimagebox' src = '../../assets/Images/factionimages/scourge/Scourge Warrior Horde Colour.jpg'>
<img class = 'rightimagebox' src = '../../assets/Images/factionimages/scourge/Scourge basic form concepts adult without host.png'>

<p>The Scourge are neuro-parasistic lifeforms which can utterly dominate an unfortunate host, bending 
  its life to their will The thrive on the conquest and absortion of other races, their very mode of 
  existence as potent a threat as their formidable armies. They are the galaxy's ultimate predators.
</p>

<p>Their breathtaking assimilation of the central planets, including Earth itself, has made them the 
  primary threat to the very existence of mankind. Although generally on the defensive during the Reconquest, 
  their deadly counter-offensive proves they will seize any opportunity for attack. 
</p>

<p>Their constructs are as aggressive as they are shockingly lethal, death at the hands of their potent 
  weaponry is nothing compared to the dread of being taken alive.
</p>

</div>
  <div class = 'unitpics'>
  <app-unitphotos [faction]="faction"></app-unitphotos>
</div>
</body>

