
<body>
  <img class = 'fullimagestrip' src = '../../assets/Images/factionimages/scourge/Scourge Screamer illustration final.jpg'>
    <div class = "title">
        Scourge
      </div>
<div class = 'introtext'>
  The Scourge are a species of foul, neuroparastistic lifeforms that have driven humanity almost
  to the brink of extinction. They are defending their ill-gotten gains of the Cradle Worlds against 
  the USM's grand reconquest. They are far from beaten though, and have already launched a counter 
  attack on the frontier worlds now home to the UCM.
  <br>

  <img class = "centralimagebox" src = '../../assets/Images/factionimages/scourge/Scourge Human Portrait with plein BG.jpg'>
</div>




<div class = 'textbox'>
<img class = 'leftimagebox' src = '../../assets/Images/factionimages/scourge/Scourge Warrior Horde Colour.jpg'>
<img class = 'rightimagebox' src = '../../assets/Images/factionimages/scourge/Scourge basic form concepts adult without host.png'>

<p>The Scourge are neuro-parasistic lifeforms which can utterly dominate an unfortunate host, bending 
  its life to their will The thrive on the conquest and absortion of other races, their very mode of 
  existence as potent a threat as their formidable armies. They are the galaxy's ultimate predators.
</p>

<p>Their breathtaking assimilation of the central planets, including Earth itself, has made them the 
  primary threat to the very existence of mankind. Although generally on the defensive during the Reconquest, 
  their deadly counter-offensive proves they will seize any opportunity for attack. 
</p>

<p>Their constructs are as aggressive as they are shockingly lethal, death at the hands of their potent 
  weaponry is nothing compared to the dread of being taken alive.
</p>

</div>

<div class = 'armypanel'>
  <div class = 'subtitle'>Example Army</div>
  <p>Here is an example of a Scourge army for a 1750 point game. <!--For this one we've taken units from the Scourge starter army, the Scout Command Group Boxset and the Light Fire Support Group Boxset. 
    There's a couple of things spare if you want to make some adjustments or for a slightly bigger game, having 4 Scourge Warrior Bases spare.--> This list comes to 1748 points but doesn't 
  have a Commander so has a standard CV0 commander in the Desolator. This army can be found here:  <a href = 'https://thetrolltrader.com/dzcbuilderbeta/builder/2/RPTgyWcR39rWzlbSNPU6HLRpT01GwXrp' target = 'blank'> Army List</a>
 The Army code being: RPTgyWcR39rWzlbSNPU6HLRpT01GwXrp</p>

  <div class = 'battlegrouplist'>
    <p>HQ Group</p>
    <p>1 X Desolator</p>
    <p>4 X Minder</p>
    <p>4 x Monitor</p>
    <p>2 X Intruder Beta</p>
  </div>  

  <div class = 'battlegrouplist'>
    <p>Armour Group 1</p>
    <p>3 X Hunter</p>
    <p>3 X Reaper</p>
    <p>3 X Stalker</p>
    <p>2 X Tormentor</p>
    <p>1 X Despoiler</p>
    <p>1 X Harbinger</p>
  </div>  

  <div class = 'battlegrouplist'>
    <p>Frontline Group 1</p>
    <p>2 X Warriors</p>
    <p>2 X Warriors</p>
    <p>2 X Invader APC's</p>
    <p>1 X Marauder</p>        
  </div>
  
  <div class = 'battlegrouplist'>
    <p>Armour Group 2</p>
    <p>3 X Reaper</p>
    <p>4 X Slayer</p>
    <p>3 X Hunter</p>
    <p>4 X Marauder</p>    
  </div>  

  <div class = 'battlegrouplist'>
    <p>Frontline Group 2</p>
    <p>2 X Warriors</p>
    <p>2 X Warriors</p>
    <p>2 X Invader APC's</p>
    <p>1 X Marauder</p>           
  </div>
  <p> Though we've included the transports with each battlegroup here, normally they are part of the Auxillery battlegroup so a transport can be used to transport another groups units 
    if required as the battle goes on.
  </p>
</div>

  <div class = 'unitpics'>
  <app-unitphotos [faction]="faction"></app-unitphotos>
</div>
</body>

