<div class = introtext>
  <p>In the year 2670 the Golden Age of Mankind has come to an abrupt end. Their Interstellar Empire has been invaded by the Terrible Scourge. Almost all of humanity was
    wiped out. What was left escaped to the Cradle Worlds and grouped together to create the UCM (United Colonies of Mankind). They built and planned for 150 years before starting their 
    reconquest. It is time for the reconquest to start it's biggest challenge, the end goal, now begins the Battle For Earth.
    

    <p>Dropzone Commander is a 10mm scale wargame, in which battles can be waged from small skirmishes, to epic battles which see huge waves of Dropships 
    descend upon the battlefield. Players take command of one of five factions in an effort to ensure the fate of the Galaxy. Battles are fast paced and 
    dynamic, with Dropships deploying and re-deploying units throughout the course of the engagement. This leads to tough tactical choices and exciting combat action.</p>
    
   <p>Battles take place bewteen the United Colonies of Mankind (UCM) fighting to retake their home and the so called cradle worlds from the foul, neuro-parasistic aliens
      known as the Scourge. On these planets the Resistance has risen, the remnants of humanity left on these planets under Scourge occupation. The PHR, cybernetically enahnced humans,
    who escaped the Scourge invasion after heeding a warning from the mysterious White Sphere now temporarily helping the UCM and the Resistance in a fragile alliance. And finally, 
    the Shaltari, ancient aliens who have technology so far advanced of all the others that they have cheated Death itself. Their desires still unknown. </p>
</div>

<div class = "videostrip">
  <iframe class = "youtubevideo" width="560" height="315" src="https://www.youtube.com/embed/enxGJE2xNb4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



<img class = "fullimagestrip" src = "../../assets/Images/vampiresattack.jpg">

<div class = "textbox">
  

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut vulputate quam. Morbi lobortis ornare ligula id aliquam. Phasellus elementum vel lacus eu lobortis. 
    Phasellus placerat massa sed lorem tristique, viverra blandit eros sollicitudin. Praesent gravida feugiat interdum. Quisque eros odio, auctor vitae ante ac, accumsan 
    malesuada mi. Integer ultricies massa neque, quis sagittis libero aliquam vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis 
    egestas. Fusce nec sollicitudin nunc. Mauris sit amet volutpat enim. Sed maximus lobortis massa. Sed nulla tortor, ullamcorper vel eros et, ornare feugiat enim. 
    Pellentesque vitae tortor volutpat sem porttitor dignissim quis a elit. Curabitur congue urna nec turpis dignissim, nec cursus augue consequat. Class aptent taciti 
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean id tincidunt dolor.</p>
    <img class = "rightimagebox" src = "../../assets/Images/foxhole.jpg">
    
    <p>Aenean tempus felis ut cursus tincidunt. Integer at sem lorem. Aenean et lectus tristique, ultricies tellus sit amet, venenatis odio. Quisque luctus justo sit amet 
    ligula tempus ultrices. Praesent suscipit, augue vel dapibus gravida, nunc est fringilla leo, eget aliquam purus nisl quis tellus. Pellentesque congue luctus aliquet. 
    Donec varius bibendum nisl, dignissim eleifend leo venenatis at. Sed orci sapien, rutrum ac tortor ac, dictum feugiat mi. Aliquam ornare vel tellus nec vulputate. 
    Vestibulum iaculis facilisis nisi, eu cursus mauris tincidunt in. Sed dui velit, auctor sed luctus at, interdum vel nibh. Morbi rhoncus est varius sodales commodo.</p>
    
    <img class = "leftimagebox" src = "../../assets/Images/Always the last - final.jpg">
    
    <p>Aliquam eget ante augue. Vestibulum quis laoreet lorem. Cras scelerisque massa non tellus semper porta. Curabitur dolor augue, ullamcorper et hendrerit eget, vulputate 
    nec nisi. Phasellus ullamcorper in mi quis rutrum. Donec quis dolor ut diam molestie efficitur. Sed sollicitudin, ex quis commodo placerat, eros nunc porta diam, quis 
    rhoncus urna lacus ut nibh. In hac habitasse platea dictumst. Donec ac libero nec libero cursus condimentum pulvinar non ex. Donec fringilla eros quis semper suscipit.
     Phasellus eleifend id tellus interdum vulputate. Aliquam blandit euismod tellus, sed convallis massa tincidunt eget. Morbi dictum ligula eget enim gravida consectetur. 
     Aenean iaculis a velit sed imperdiet. Praesent blandit molestie augue, quis suscipit lectus ullamcorper a. In nec eros tellus.</p>
    
    <p>In hac habitasse platea dictumst. Nullam quis velit non elit luctus mollis. Mauris et metus nulla. Quisque volutpat dictum lacus. Nullam tristique eros ut metus porta 
    scelerisque. Maecenas eget rhoncus arcu. Vivamus sed massa ligula. Fusce a augue vel mi feugiat consectetur.</p>
    
    
    <p>Sed et mollis erat, id convallis purus. Donec mattis, felis et auctor lobortis, enim arcu rutrum turpis, nec facilisis eros elit sed lorem. Vivamus sollicitudin 
    tellus risus, eget aliquet lectus scelerisque et. Morbi aliquam vestibulum iaculis. Nam auctor metus ac ipsum rhoncus, et fermentum sem malesuada. Pellentesque 
    convallis sagittis suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum pharetra lacus id luctus. Nam vehicula aliquet nisi vitae 
    efficitur. Ut congue posuere dolor quis gravida. Vestibulum hendrerit eros vel urna luctus, eu malesuada mi pretium. </p>
    </div>


