

  <body>
    <img class = 'fullstripimage' src = '../../assets/Images/factionimages/phr/Long Reach team.Final xxx.jpg'>
      <div class = "title">
          Post Human Republic (PHR)
        </div>

    <div class = 'introtext'>
      The PHR are a race of cyborgs. Once human, they fled before the Scourge invasion. They revealed themselves on the eve of the Reconquest to the UCM and though originally the two 
      forks of humaity were in conflict, they have formed a tenuous alliance in a bid to win The Battle For Earth. Their technology far in advance of the UCM's though they are much smaller in 
      number.
      <br>
      <img class = "centralimagebox" src = '../../assets/Images/factionimages/phr/PHR.final.jpg'>
    </div>

    

    <div class = 'textbox'>
      <img class = 'leftimagebox' src = '../../assets/Images/factionimages/phr/4 the next life final images 1.jpg'>
<img class = 'rightimagebox' src = '../../assets/Images/factionimages/phr/PHR female.jpg'>

    

    <p>
      A portion of humanity turned its back on mankind in the waning days of the last Golden Age. Over one and a half centuries later, the PHR emerged from the shadows as an 
      unrecognisable civilisation, its people irrevocably changed. They are no longer simple human beings, they are post-humans – cyborgs.
    </p>
      
      <p>A society no more than three billion strong, the Republic is a nation of elites, each individual more than a match for several lesser mortals. With remarkable 
        speed, they have made spectacular technological advancements. Since its fiery birth, the PHR has been guided by the enigmatic White Sphere, a mysterious object of 
        immense power. It is treated by the people of the PHR with a reverence bordering on worship.
    </p>

  </div>
  <div class = 'unitpics'>
  <app-unitphotos [faction]="faction"></app-unitphotos>
</div>
  </body>
