

  <body>
    <img class = 'fullstripimage' src = '../../assets/Images/factionimages/phr/Long Reach team.Final xxx.jpg'>
      <div class = "title">
          Post Human Republic (PHR)
        </div>

    <div class = 'introtext'>
      The PHR are a race of cyborgs. Once human, they fled before the Scourge invasion. They revealed themselves on the eve of the Reconquest to the UCM and though originally the two 
      forks of humaity were in conflict, they have formed a tenuous alliance in a bid to win The Battle For Earth. Their technology far in advance of the UCM's though they are much smaller in 
      number.
      <br>
      <img class = "centralimagebox" src = '../../assets/Images/factionimages/phr/PHR.final.jpg'>
    </div>

    

    <div class = 'textbox'>
      <img class = 'leftimagebox' src = '../../assets/Images/factionimages/phr/4 the next life final images 1.jpg'>
<img class = 'rightimagebox' src = '../../assets/Images/factionimages/phr/PHR female.jpg'>

    

    <p>
      A portion of humanity turned its back on mankind in the waning days of the last Golden Age. Over one and a half centuries later, the PHR emerged from the shadows as an 
      unrecognisable civilisation, its people irrevocably changed. They are no longer simple human beings, they are post-humans – cyborgs.
    </p>
      
      <p>A society no more than three billion strong, the Republic is a nation of elites, each individual more than a match for several lesser mortals. With remarkable 
        speed, they have made spectacular technological advancements. Since its fiery birth, the PHR has been guided by the enigmatic White Sphere, a mysterious object of 
        immense power. It is treated by the people of the PHR with a reverence bordering on worship.
    </p>

    <div class = 'armypanel'>
      <div class = 'subtitle'>Example Army</div>
      <p>Here is an example of a PHR army for a 1750 point game. For this one we've taken units from the PHR starter army, the Type-2 Walker Boxset and the Artillery Group Boxset. 
        There's a spare Neptune remaining too. This list comes to 1748 points but doesn't have a Commander so has a standard CV0 commander in one of the Type-2 Zeus Walkers. This army can be found here:  <a href = 'https://thetrolltrader.com/dzcbuilderbeta/builder/4/NB274BVoPWbHGsNkWYvH0Ah4JRhTJyLA'> Army List</a>
     The Army code being: NB274BVoPWbHGsNkWYvH0Ah4JRhTJyLA</p>
    
      <div class = 'battlegrouplist'>
        <p>HQ Group</p>
        <p>2 X Type-2 Zeus</p>
        <p>4 X Type-2 Odin</p>        
        <p>1 X Poseidon</p>
      </div>  
    
      <div class = 'battlegrouplist'>
        <p>Armour Group 1</p>
        <p>4 X Type-1 Ares</p>
        <p>4 X Type-1 Phobos</p>
        <p>4 X Thor Bombard</p>
        <p>1 X Poseidon</p>
        <p>3 X Neptune</p>        
      </div>  
    
      <div class = 'battlegrouplist'>
        <p>Frontline Group 1</p>
        <p>2 X Immortals</p>
        <p>2 X Immortals</p>
        <p>2 X Juno A2 APC's</p>
        <p>1 X Neptune</p>        
      </div>
      
      <div class = 'battlegrouplist'>
        <p>Auxilliary Group</p>
        <p>1 X Athena</p>           
      </div>  
    
      <div class = 'battlegrouplist'>
        <p>Frontline Group 2</p>
        <p>2 X Immortals</p>
        <p>2 X Immortals</p>
        <p>2 X Juno A2 APC's</p>
        <p>1 X Neptune</p>           
      </div>
      <p> Though we've included the transports with each battlegroup here, normally they are part of the Auxillery battlegroup so a transport can be used to transport another groups units 
        if required as the battle goes on.
      </p>
    </div>


  </div>
  <div class = 'unitpics'>
  <app-unitphotos [faction]="faction"></app-unitphotos>
</div>
  </body>
