<body>
  <div class = 'title'>Playing Dropzone Commander</div>
  
  <div class = 'introtext'>
      <img class = centralimagebox src = '../../assets/Images/ucmvsscourge1.png'>
    <p>Dropzone Commander is a 10mm scale tabletop wargame which focuses on fluid tactical decisions and adaptability. Almost all the units in your army will be dropped in by Dropships, 
    which can then collect and redeploy your forces at any time. You'll need to be ready to think on your feet at all times as your opponents' forces move all around the table. Your 
    force will be made up of everything from infantry to tanks, from aircraft and dropships to giant behemoths, gigantic war engines obliterating all in their path.</p>

    <p>Dropzone Commander is designed to be balanced, fun and competetive so whatever your style of play, whether you like to play story led scenarios, play competitively, or just 
      enjoy playing a friendly game for a couple of hours, Dropzone Commander is designed to be exactly what you need. With a rich ongoing story and plenty of units for each of the five 
      factions, we're sure there is something for everyone.
    </p>    
    
  </div>
  <img class = 'fullimagestrip' src = '../../assets/Images/vampiresattack.jpg'>

  <div class = 'textbox'>
    <p>The first step into the game of Dropzone is often with the 2 player starter set found on our webstore. Another way is to purchase the rulebook and a faction starter if you 
      know which faction you want to start with already. With either of these options you will have an army to play small games with. You can use our online army builder to build your 
      army with the units you have and also see what you want to add next. 
    </p>
    <p>Once you are ready to grow your army, we sell battle boxes, which are grouped units designed to complement each other and add a particular strength to your army these are sold on 
      our webstore and in game stores. You can also purchase individual models via our webstore if you know exaclty what unit you want. Every army has it's own strengths and weaknesses, 
      however there are so many choices that you can build your army to be your own. Maybe an all rounder, capable of taking on any army that you find against you, or maybe you want to build
      an army of heavy tanks to blast armour to pieces, or dominate the skies with flyers, the choice is yours. 
    </p>
    <p> Of course you may not have an idea what faction you want to play at all. Well to help you with that we have a good look at each faction on this site. You can see the factions 
      story within the Dropzone Universe, it's play style and the miniatures that make up that factions units. Whatever your preffered playstyle, one of the factions will be able to 
      satisfy it, and we know it's hard to pick between the exquisitely detailed miniatures. So will it be the brave and vengeful UCM, the foul and deadly Scourge, the elegant yet 
      powerful PHR, the enigmatically alien Shaltari or the resiliant and stubborn Resistance?
    </p>
  </div>


</body>
