  <body>
    <img class = 'fullimagestrip' src = '../../assets/Images/factionimages/resistance/Gather your strength.jpg'>
      <div class = "title">
          Resistance
        </div>
    <div class = 'introtext'>
      The Resistance is a catch all term for groups of humans that have survived Scourge occupation. From the Kalium fleets and armies now allied with the UCM, to survivors that have 
      eeked out an exiistence on the Cradle Worlds since Scourge occupation and the remnants of the Vega scrap fleet, abandoned by both the UCM and the Kalium Kabal. They are skilled survivalists, 
      though their technology is dated, their resilience and gureilla warfare abilities are not to be underestimated. Their hatred for the Scourge knows no bounds. 
      <br>
      <img class = 'centralimagebox' src = '../../assets/Images/factionimages/resistance/Resistance (Ferral) - Salakahn, Tyrant of Atlantia.jpg'>
    </div>

    

    <div class = 'textbox'>
      <img class = 'leftimagebox' src = '../../assets/Images/factionimages/resistance/Resistance Allies Female final.jpg'>
      <img class = 'rightimagebox' src = '../../assets/Images/factionimages/resistance/Resistance Sapper WIP 10 Final.jpg'>
      <p>Of all the forces encountered by the UCM, the Resistance has changed the most. Initially a ragtag assortment of survivors stranded on the
         Cradle Worlds and Earth, the definition has expanded to encompass all groups that utilise pre-war technology, including the rogue Colony of Kalium.</p>
         <p>Originally, all known Resistance groups were under occupation by the dreaded alien Scourge, remaining at large in the forgotten corners by a combination of luck, 
           guile and the sheer determination to survive in the face of insurmountable odds. Isolated, these societies adapted tenaciously to overcome their own unique 
           circumstances, resulting in a spectrum of cultures from the civilised to the savage. While enlightened leaders strive to uphold liberty, ruthless despots reign through
            merciless cruelty. What separates them from all other combatants is their diversity.</p>
            <p>As the UCM’s Reconquest armadas bring cataclysmic war to Earth and the Cradle Worlds, the oppressed must now stand and fight. The antique war machines and improvised 
              armies of the Resistance are rising - their time has come to do or die.</p>
            </div>

            <div class = 'armypanel'>
              <div class = 'subtitle'>Example Army</div>
              <p>Here is an example of a Resistance army for a 1750 point game. <!--For this one we've taken units from the Resistance starter army, the Command Group Boxset and the Air Support Group Boxset. 
                -->This list comes to 1740 points but doesn't have a Commander so has a standard CV0 commander in the M3 Alexander. This army can be found here:  <a href = 'https://thetrolltrader.com/dzcbuilderbeta/builder/5/liSHzZE7E2CMROw6JwMEdlQ1BAK8mDyZ' target  = 'blank'> Army List</a>
             The Army code being: liSHzZE7E2CMROw6JwMEdlQ1BAK8mDyZ</p>
            
              <div class = 'battlegrouplist'>
                <p>HQ Group</p>
                <p>1 X M3 Alexander</p>
                <p>2 X M20 Zhukov</p>        
                <p>2 X AT-77 Lifthawk with AA Cannon</p>
              </div>  
            
              <div class = 'battlegrouplist'>
                <p>Armour Group 1</p>
                <p>6 X Gun Wagon</p>
                <p>4 X M9 Hannibal</p>
                <p>1 X AT-77 Lifthawk with AA Cannon</p>
                <p>1 X AT-77 Lifthawk</p>
                <p>2 X NT-1 Kraken</p>             
              </div>  
            
              <div class = 'battlegrouplist'>
                <p>Frontline Group 1</p>
                <p>2 X Resistance Fighters</p>
                <p>2 X Resistance Fighters</p>
                <p>2 X Resistance Fighters</p>                
                <p>3 X MT-90 Jackson</p>
                <p>1 X AT-77 Lifthawk</p>        
              </div>
              
              <div class = 'battlegrouplist'>
                <p>Vanguard Group 1</p>
                <p>1 X Hellhog A</p>
                <p>1 X Barrel Bomber</p>
                <p>2 X Typhoon</p>                         
              </div>  
            
              <div class = 'battlegrouplist'>
                <p>Frontline Group 2</p>
                <p>2 X Resistance Fighters</p>
                <p>2 X Resistance Fighters</p>
                <p>2 X Resistance Fighters</p>                
                <p>3 X MT-90 Jackson</p>
                <p>1 X AT-77 Lifthawk</p>          
              </div>
              <p> Though we've included the transports with each battlegroup here, normally they are part of the Auxillery battlegroup so a transport can be used to transport another groups units 
                if required as the battle goes on.
              </p>
            </div>

            <div class = 'unitpics'>
            <app-unitphotos [faction]="faction"></app-unitphotos>
          </div>
  </body>
