
<body>
  <img class = 'fullimagestrip' src = '../../assets/Images/factionimages/ucm/UCM - Heavy Hazard suit  Final x.jpg'>
    <div class = 'title'>United Colonies of Mankind (UCM)</div>
  <div class = "introtext">
    The United Colonies of Mankind, commonly known as the UCM are the remnants of humanity. Forced to exist on the frontier worlds after the Cradle worlds were invaded by the foul Scourge,
     after years of struggle they worked together to form the UCM and plan the Reconquest. Now the end goal is near, but yet so far, the Reconquest has approached Earth, now the UCM fight for the main prize.
     Fight for everything that was taken from them. Fight to win the Battle for Earth.
     <img class = "centralimagebox" src = '../../assets/Images/factionimages/ucm/UCM poster propaganda web.jpg'>
  </div>

  

  <div class = "textbox">
      <img class = "rightimagebox" src = '../../assets/Images/factionimages/ucm/Preatorian illustration color.jpg'>
      <img class = "leftimagebox" src = '../../assets/Images/factionimages/ucm/Preatorian Elite Illustration colour final.jpg'>
    <p>Forged in desperation, united by adversity and resurgent in power, the UCM exists for a single purpose – to wrest mankind’s lost strongholds from the clutches of the Scourge. A collection of diverse and 
      remote frontier worlds, the UCM is a restless cultural melting pot, bubbling with a righteous desire for vengeance. </p>
      
      
    <p>One and a half centuries after the Scourge captured Earth and the Cradle Worlds, the UCM expanded beyond all recognition. Its militaristic society assembled the greatest army and fleet in human history 
      and hurled it at its hated foe to recapture its lost territories. This monumental endeavour is known as the Reconquest, a galaxy-wide conflagration of war and death.</p>

    <p>Its decision to exploit an early opportunity to invade Earth will likely define the future of the UCM and its place in the galaxy. Success would be a momentous leap towards final victory. Failure could 
      mean an end to the Reconquest and hopes of a bright future for mankind.</p>
  </div>

  <br>
  <div class = 'unitpics'>
  <app-unitphotos [faction]="faction"></app-unitphotos>
  </div>

</body>
