
<body>
  <img class = 'fullimagestrip' src = '../../assets/Images/factionimages/ucm/UCM - Heavy Hazard suit  Final x.jpg'>
    <div class = 'title'>United Colonies of Mankind (UCM)</div>
  <div class = "introtext">
    The United Colonies of Mankind, commonly known as the UCM are the remnants of humanity. Forced to exist on the frontier worlds after the Cradle worlds were invaded by the foul Scourge,
     after years of struggle they worked together to form the UCM and plan the Reconquest. Now the end goal is near, but yet so far, the Reconquest has approached Earth, now the UCM fight for the main prize.
     Fight for everything that was taken from them. Fight to win the Battle for Earth.
     <br>
     <img class = "centralimagebox" src = '../../assets/Images/factionimages/ucm/UCM poster propaganda web.jpg'>
  </div>

  

  <div class = "textbox">
      <img class = "rightimagebox" src = '../../assets/Images/factionimages/ucm/Preatorian illustration color.jpg'>
      <img class = "leftimagebox" src = '../../assets/Images/factionimages/ucm/Preatorian Elite Illustration colour final.jpg'>
    <p>Forged in desperation, united by adversity and resurgent in power, the UCM exists for a single purpose – to wrest mankind’s lost strongholds from the clutches of the Scourge. A collection of diverse and 
      remote frontier worlds, the UCM is a restless cultural melting pot, bubbling with a righteous desire for vengeance. </p>
      
      
    <p>One and a half centuries after the Scourge captured Earth and the Cradle Worlds, the UCM expanded beyond all recognition. Its militaristic society assembled the greatest army and fleet in human history 
      and hurled it at its hated foe to recapture its lost territories. This monumental endeavour is known as the Reconquest, a galaxy-wide conflagration of war and death.</p>

    <p>Its decision to exploit an early opportunity to invade Earth will likely define the future of the UCM and its place in the galaxy. Success would be a momentous leap towards final victory. Failure could 
      mean an end to the Reconquest and hopes of a bright future for mankind.</p>

    </div>
      <div class = 'armypanel'>
      <div class = 'subtitle'>Example Army</div>
      <p>Here is an example of a UCM army for a 1750 point game. <!--For this one we've taken units from the UCM starter army, the Scout Command Group Boxset and the Heavy Fire Support Group Boxset. 
        There's a couple of things spare if you want to make some adjustments or for a slightly bigger game, having 2 Legionaires left and 3 sabres.--> This list comes to 1749 points but doesn't 
      have a Commander so has a standard CV0 commander in the Kodiac. This army can be found here:  <a href = 'https://thetrolltrader.com/dzcbuilderbeta/builder/1/KT16xz4WnQloQ3RY9oyd9ExeRvhN43aq' target = 'blank'> Army List</a>
     The Army code being: KT16xz4WnQloQ3RY9oyd9ExeRvhN43aq</p>

      <div class = 'battlegrouplist'>
        <p>HQ Group</p>
        <p>1 X Kodiac</p>
        <p>4 X Wolverine A</p>
        <p>1 x Condor</p>
        <p>2 X Raven B with Missile Pods</p>
      </div>  

      <div class = 'battlegrouplist'>
        <p>Armour Group 1</p>
        <p>3 X Sabre</p>
        <p>3 X Rapier</p>
        <p>3 X Broadsword</p>
        <p>1 X Albatross with Missile Pods</p>
        <p>2 X Condor with Missile Pods</p>
      </div>  

      <div class = 'battlegrouplist'>
        <p>Frontline Group 1</p>
        <p>2 X Legionnaires</p>
        <p>3 X Legionnaires</p>
        <p>2 X Bear APC's</p>
        <p>1 X Condor with Missile Pods</p>        
      </div>
      
      <div class = 'battlegrouplist'>
        <p>Armour Group 2</p>
        <p>3 X Katana</p>
        <p>4 X Gladius</p>
        <p>3 X Rapier</p>
        <p>1 X Albatross with Missile Pods</p>
        <p>1 X Condor with Missile Pods</p>
      </div>  

      <div class = 'battlegrouplist'>
        <p>Frontline Group 2</p>
        <p>2 X Legionnaires</p>
        <p>3 X Legionnaires</p>
        <p>2 X Bear APC's</p>
        <p>1 X Condor with Missile Pods</p>        
      </div>
      <p> Though we've included the transports with each battlegroup here, normally they are part of the Auxillery battlegroup so a transport can be used to transport another groups units 
        if required as the battle goes on.
      </p>
      
  
</div>

  <br>
  <div class = 'unitpics'>
  <app-unitphotos [faction]="faction"></app-unitphotos>
  </div>

</body>
