
@font-face{
    font-family: HelveticaNeue;
    src :url(assets/HelveticaNeue.ttf) format("opentype");
  }

  @font-face{
      font-family: VenusRisingRegular;
      src :url(assets/venusrisingrg.ttf) format("opentype");
  }

body{
    background-color: white;
    text-align: center;
    min-height: 300px;
}

p{
    color: black;
    font-family: 'HelveticaNeue';
}

#navbar {
    overflow: hidden;
    background-color: #333;
  }

.textbox{
    text-align: left;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.title{
    font-size: xx-large;
    font-family: 'VenusRisingRegular'
}

.introtext{
    text-align: center;
    padding: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.leftimagebox{
    float: left;
    height: 200px;
    padding: 5px;
}

.rightimagebox{
    float: right;
    height:200px;
    padding: 5px;
}

.fullimagestrip{
    width: 100%
}

.videostrip{
    width: 100%;
    background-color: black;
    text-align: center;
}

.youtubevideo{
    height: 415px;
  width: 560px;  
  text-align: center;
  padding: 10px;
}



@media screen and (max-width:600px){
    .youtubevideo{
        height: 157px;
        width: 280px;
      }

      .textbox{
        text-align: left;
        padding: 1px;     
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }
    
    .introtext{
        text-align: center;
        padding: 1px;     
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .leftimagebox{
        float: left;
        height: 100px;
    }
    
    .rightimagebox{
        float: right;
        height:100px;
    }

    p{
        font-size: small;
    }
}